h1{
    color: black;
    border: red  solid 25px;
    background-color: rgb(245, 240, 240);
    text-align: center;}
h2{
  color: red;
  border: 45px groove  green;
  background-color: yellow;
  text-align: center;
  

}

